# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [75]:
import pandas as pd
import numpy as np

In [17]:
# Criando a lista de dados

anomalias_termicas = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.4, 1.02]

#Criando séries

anomalia = pd.Series(data = anomalias_termicas)
print(anomalia)

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [78]:
# seu código aqui

#Criando lista de anos

anos = [(lambda i=i: 1900 + (20*i))() for i in range(7)]
print('Lista de anos:\n', anos)
print('\n')

#Colocando os anos como índice

ano_anomalia = pd.Series(data = anomalias_termicas, index = anos)
print('Serie conforme a tabela:\n', ano_anomalia)

Lista de anos:
 [1900, 1920, 1940, 1960, 1980, 2000, 2020]


Serie conforme a tabela:
 1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [23]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui

serie_dict = pd.Series(data = dic_temperaturas)
serie_dict

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [80]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui

print('array pseudo-aleatório gerado:\n', arr)

#Criando o DataFrame

arr_DF = pd.DataFrame(arr)
arr_DF

array pseudo-aleatório gerado:
 [[ 85.15001342 107.66956603  80.61981536]
 [107.64695997 109.19678155 108.77956743]
 [102.80897561  87.55995366 112.12406288]
 [ 98.99100867 101.17187334  98.42203543]
 [109.34244101  93.24183306  98.81591706]
 [ 86.87996064  90.42147336 119.62794671]
 [ 95.79076521 105.49836008 102.09263102]
 [112.73289338  94.70597589  95.76353705]
 [ 96.03921926 110.10768559 111.1458885 ]
 [100.71997598  94.25281077 102.98440637]
 [ 99.88910303  95.79213498  85.9194551 ]
 [ 95.71716973  86.93998463 108.39130317]
 [104.73070112 102.19777916  95.18305742]
 [ 91.84803282  97.90725666 102.58009207]
 [107.57656388  83.01384629  92.61660584]
 [ 97.90809991 103.2057413  123.71903377]
 [103.65973309  99.64756003 107.11312374]
 [ 83.39522849 123.7154538   87.15431851]
 [ 93.90278285 100.9814481   89.63758486]
 [103.49726191 115.53644418 109.87363242]]

             0           1           2
0    85.150013  107.669566   80.619815
1   107.646960  109.196782  108.779567
2   102.808976   87.559954  112.124063
3    98.991009  101.171873   98.422035
4   109.342441   93.241833   98.815917
5    86.879961   90.421473  119.627947
6    95.790765  105.498360  102.092631
7   112.732893   94.705976   95.763537
8    96.039219  110.107686  111.145888
9   100.719976   94.252811  102.984406
10   99.889103   95.792135   85.919455
11   95.717170   86.939985  108.391303
12  104.730701  102.197779   95.183057
13   91.848033   97.907257  102.580092
14  107.576564   83.013846   92.616606
15   97.908100  103.205741  123.719034
16  103.659733   99.647560  107.113124
17   83.395228  123.715454   87.154319
18   93.902783  100.981448   89.637585
19  103.497262  115.536444  109.873632

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [88]:
#seu código aqui

#Corrigindo o índice

arr_DF.index = range(1, 21)

#Mudando o nome das colunas 

arr_df = arr_DF.rename(columns={0: 'x1', 1: 'x2', 2:'x3'})
arr_df

            x1          x2          x3
1    85.150013  107.669566   80.619815
2   107.646960  109.196782  108.779567
3   102.808976   87.559954  112.124063
4    98.991009  101.171873   98.422035
5   109.342441   93.241833   98.815917
6    86.879961   90.421473  119.627947
7    95.790765  105.498360  102.092631
8   112.732893   94.705976   95.763537
9    96.039219  110.107686  111.145888
10  100.719976   94.252811  102.984406
11   99.889103   95.792135   85.919455
12   95.717170   86.939985  108.391303
13  104.730701  102.197779   95.183057
14   91.848033   97.907257  102.580092
15  107.576564   83.013846   92.616606
16   97.908100  103.205741  123.719034
17  103.659733   99.647560  107.113124
18   83.395228  123.715454   87.154319
19   93.902783  100.981448   89.637585
20  103.497262  115.536444  109.873632

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [89]:
# seu código aqui

arr_df ['media'] = arr_df.mean(axis = 1)
arr_df

            x1          x2          x3       media
1    85.150013  107.669566   80.619815   91.146465
2   107.646960  109.196782  108.779567  108.541103
3   102.808976   87.559954  112.124063  100.830997
4    98.991009  101.171873   98.422035   99.528306
5   109.342441   93.241833   98.815917  100.466730
6    86.879961   90.421473  119.627947   98.976460
7    95.790765  105.498360  102.092631  101.127252
8   112.732893   94.705976   95.763537  101.067469
9    96.039219  110.107686  111.145888  105.764264
10  100.719976   94.252811  102.984406   99.319064
11   99.889103   95.792135   85.919455   93.866898
12   95.717170   86.939985  108.391303   97.016153
13  104.730701  102.197779   95.183057  100.703846
14   91.848033   97.907257  102.580092   97.445127
15  107.576564   83.013846   92.616606   94.402339
16   97.908100  103.205741  123.719034  108.277625
17  103.659733   99.647560  107.113124  103.473472
18   83.395228  123.715454   87.154319   98.088334
19   93.902783  100.981448   89.637585   94.840605
20  103.497262  115.536444  109.873632  109.635780

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [90]:
# seu código aqui

arr_df['log_med'] = np.log(arr_df['media'])
arr_df

            x1          x2          x3       media   log_med
1    85.150013  107.669566   80.619815   91.146465  4.512468
2   107.646960  109.196782  108.779567  108.541103  4.687129
3   102.808976   87.559954  112.124063  100.830997  4.613446
4    98.991009  101.171873   98.422035   99.528306  4.600442
5   109.342441   93.241833   98.815917  100.466730  4.609827
6    86.879961   90.421473  119.627947   98.976460  4.594882
7    95.790765  105.498360  102.092631  101.127252  4.616380
8   112.732893   94.705976   95.763537  101.067469  4.615788
9    96.039219  110.107686  111.145888  105.764264  4.661213
10  100.719976   94.252811  102.984406   99.319064  4.598338
11   99.889103   95.792135   85.919455   93.866898  4.541878
12   95.717170   86.939985  108.391303   97.016153  4.574877
13  104.730701  102.197779   95.183057  100.703846  4.612184
14   91.848033   97.907257  102.580092   97.445127  4.579289
15  107.576564   83.013846   92.616606   94.402339  4.547566
16   97.908100  103.205741  123.719034  108.277625  4.684699
17  103.659733   99.647560  107.113124  103.473472  4.639315
18   83.395228  123.715454   87.154319   98.088334  4.585868
19   93.902783  100.981448   89.637585   94.840605  4.552198
20  103.497262  115.536444  109.873632  109.635780  4.697164